@import "variable.scss";
@import "badge";
@import "label";
@import "mixin";
.no-padding{
  padding:0;
}

ul{
  list-style: none;
  margin:0;
  padding:0;
  height:50px;
  line-height:30px;
}

#wrapper{
  width:100%;
  position:relative;
}

.btn.btn-inverse{
  background-color: #111;
  border-color:#111;
  border-radius: 0;
  height:$sidebar-search-height;
  font-size:12px;
}

footer{
  position:absolute;
  bottom: 0;
  height:$footer-height;
  background-color: $main-color;
  right:0;
  left:$sidebar-width;
  @include setPhone(left,0);
  line-height: $footer-height;
  color:white;
  font-size:12px;
  text-align: right;

  span{
    white-space: pre;
  }
}

