$navbar-top-logo-color : #1f232a;
$navbar-top-right-color : #18bc9c;
$main-color : #303641;
$search-bg-color : #262b34;
$sidebar-search-height : 30px;
$navbar-top-height : 50px;
$sidebar-width : 250px;
$footer-height:57px;
